[submodule "ISM-Embedded"]
	path = ISM-Embedded
	url = https://github.com/Matthew-Bowlby/ISM-Embedded.git
[submodule "ISM-App"]
	path = ISM-App
	url = https://github.com/Matthew-Bowlby/ISM-App.git
[submodule "ISM-FR"]
	path = ISM-FR
	url = https://github.com/Matthew-Bowlby/ISM-FR.git
